*{
	margin: 0;
	padding: 0;
}

.main{
	background-color:#D34087 ;
	height: 100vh;
}
.navi{
	height:80px;
	width: 95%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 4vh;
	border-radius: 25px;
	display: flex;
	opacity:0.73;
	background-color: black;
	box-shadow: 5px 5px 5px black;
}
.bot{
	display: flex;
	list-style-type: none;
	position: absolute;
	height:80px;
	width: 67%;
	left: 430px;
	top: 2.5vh;
}
.bot a{
	display: block;
	width: 160px;
	height:20px;
	text-decoration: none;
	color: white;
	font-family: Lucida Fax;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
}
.bot a:hover{
	background-color: white;
	border-radius: 25px;
	color: black;
}
.log1{
	background-image: url("../img/584678e7917f0224355f97ce875b89d6e7aaf4d6f6e5-jY9fk1j.png");
	background-size: cover;
	
	height: 40px;
	width: 40px;
	position: absolute;
	top: 5.5vh;
	left: 200px;
}
.log2{
	background-image: url("../img/584678e7917f0224355f97ce875b89d6e7aaf4d6f6e5-jY9fkj.png");
	background-size: cover;
	height: 40px;
	width: 40px;
	top: 5.5vh;
	left: 150px;
	position: absolute;
}
.log3{
	background-image: url("../img/584678e7917f0224355f97ce875b89d6e7aaf4d6f6e5-jY9fkj.png");
	background-size: cover;
	height: 40px;
	width: 40px;
	top: 5.5vh;
	left: 250px;
	position: absolute;
}
	
.log1:hover{
	top: 1vh;
	position: absolute;
	transition:500ms;
}
.log2:hover{
	top: 1vh;
	position: absolute;
	transition:500ms;
	
}
.log3:hover{
	top: 1vh;
	position: absolute;
	transition:500ms;
	
}
.side1{
	background-image: url("../img/584678e7917f0224355f97ce875b89d6e7aaf4d6f6e5-jY93fkj.png");
	background-size: contain;
	background-repeat: repeat-y;
	height: 80%;
	width: 50px;
	background-position: 20px;
	position: absolute;
	left: 7px;
	top:18vh;
}
.side2{
	background-image: url("../img/584678e7917f0224355f97ce875b89d6e7aaf4d6f6e5-jY93fkj.png");
	background-size: contain;
	background-repeat: repeat-y;
	height: 80%;
	width: 50px;
	background-position: 20px;
	position: absolute;
	right: 20px;
	top:18vh;
}
.ani{
	height: 100vh;
	width: 100%;
	background-color: black;
	text-align: center;
	position: absolute;
	z-index: 100;
	animation:cut 0.8s ease-in 0.2s 1 forwards;
}
.ani span{
	color: #D34087;
	font-size: 60px;
	font-family: Lucida Fax;
	position: relative;
	top:250px;
	font-weight: 800;
	
}
@keyframes cut{
	0%{
		clip-path: inset(0 0 0 0);
	}
	20%{
		clip-path: inset(0 0 0 10%);
	}
	100%{
		clip-path: inset(0 0 0 100%);
	}
}
.shell{
	position:relative;
	top:200px;
	left:400px;
	width: 70vw;
	height: 50vw;
	max-width: 480px;
	max-height: 350px;
	margin: 0;
	background-image: url(../img/src=http___img.nga.178.com_attachments_mon_201710_29_-7Q2h-ia4lZaT1kSgo-go.png&refer=http___img.nga.178.png);
	background-size: contain;
	background-repeat: no-repeat;
	perspective: 1000px;
	transform-origin: center;
}
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: translateZ(-30vw) rotateY(0);
	animation: carousel 9s infinite cubic-bezier(0.77,0,0.175,1) forwards;
}
.item{
	position: absolute;
	width:70vw;
	height: 50vw;
	max-width: 480px;
	max-height: 350px;
	box-shadow: 0 5px 20px rgba(0 0 0 0.3);
	border-radius: 6px;
	background-size:cover;
	-webkit-box-reflect: below 25px -webkit-linear-gradient(transparent 50% rgba(255 255 255 0.3));
	
}
.item:nth-child(1){
	background-image: url(../img/format,jpg&big.jpg);
	transform:rotateY(0) translateZ(35vw);
}
.item:nth-child(2){
	background-image: url(../img/d4cf3e6f9eccaba7c52ef9a53cea76ee.jpg);
	transform:rotateY(90deg) translateZ(35vw);
}
.item:nth-child(3){
	background-image: url(../img/a3f4f1fd11177dcc11d548361e8996ee.jpg);
	transform:rotateY(180deg) translateZ(35vw);
}
.item:nth-child(4){
	background-image: url(../img/f4bc59bc140f482e1fd78268d7d74d5f.jpg);
	transform:rotateY(270deg) translateZ(35vw);
}
@keyframes carousel{
	0%,
	17.5%{
		transform: translateZ(-35vw) rotateY(0);
	}
	27.5%,
	45%{
		transform: translateZ(-35vw) rotateY(-90deg);
	}
	55%,
	72.5%{
		transform: translateZ(-35vw) rotateY(-180deg);
	}
	82.5%,
		
	100%{
		transform: translateZ(-35vw) rotateY(-270deg);
	}
}
.mainp{
	width:80px;
	height:80px;
	
	background-size:117%;
		background-repeat: no-repeat;
		background-position:-10px;
		background-image: url(../img/584678e7917f0224355f97ce875b89d6e7aaf4d6f6e15-jY9fkj.png);
	position: absolute;
	left:100px;
	bottom: 40px;

}
.mainp:hover {
	transform: scale(1.3);
}

.logo{
	position: absolute;
	left:100px;
	bottom:10px;
	
	
}
.logo img{
	width:40px;
	height:40px;
	
	margin: 0;
	padding: 0;
}
	
.logo:nth-child(1){
	transform:translateX(80px) translateY(-125px);
}
.logo:nth-child(4){
	transform:translateX(13px) translateY(-130px);
}
.logo:nth-child(3){
	transform:translateX(115px) translateY(-80px);
}
.logo:nth-child(2){
	transform:translateX(115px) translateY(-30px);
}
.logo:nth-child(6){
	transform:translateX(80px) translateY(10px);
}
.logo:nth-child(5){
	transform:translateX(13px) translateY(15px);
}
.subp{
	display: none;
	
}
.t{
	text-align: center;
	position: absolute;
	bottom: 130px;
	left: 60px;
	width:170px;
	height: 20px;
	background-color: black;
	color: azure;
	padding:2px;
	border-radius: 15px;
	box-shadow: 0 15px 15px black;
	opacity: 0.75;
	font-weight: 600;
}
.t2{
	width:75px;
	height:500px;
	position: absolute;
	right:100px;
	top:120px;
	background-image: url(../img/宿命と狂気です.png);
	background-size: cover;
	background-repeat: no-repeat;
	transform: scale(0.75);
}
	